{% extends 'phone/base.html' %}
{% block content %}

{% for app_count in apple_count %}
{% for sam_count in samsung_count %}
{% for xia_count in xiaomi_count %}
{% for lg_count in lg_count %}

  <nav class="content-section">
    <ul>
    <li><a href="#">Iphone </a>({{ app_count }})</li>
    <li><a href="#">Samsung </a>({{ sam_count }})</li>
    <li><a href="#">Xiaomi </a>({{ xiaomi_count }})</li>
    <li><a href="#">LG </a>({{ lg_count }})</li>
  </ul>
  </nav>

{% endfor %}  
{% endfor %}
{% endfor %}
{% endfor %}

{% for phone in phones %}
  <article class="media content-section">
    <img  class="rounded article-img" src="{{ phone.image.url }}" height="150px" width="145px"  alt="">
    <div class="media-body ml-3">
      <div class="media article-metadate">
        <a href="{% url 'phone-detail' phone.id %}"><h5>{{ phone.get_phone_display }} {{phone.phone_model}}</h5></a>
      </div>
      <h5>{{ phone.name }}</h5>
      <p class="text-muted">{{ phone.get_metro_display }}<br>
        дата публикации: {{ phone.pub_date|date:'d-m-Y H:i'}}
      </p>
      <h6>{{ phone.phone_number }}</h6>
    </div>
    <h4>{{ phone.price }} &#8381;</h4>
  </article>
{% endfor %}
{% endblock %}