{% extends 'phone/base.html' %}
{% block content %}

<h1 class="mb-3 ml-3">Phones by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>

{% for phone in phones %}
  <article class="media content-section">
    <img  class="rounded article-img" src="{{ phone.image_field.url }}" height="150px" width="145px"  alt="">
    <div class="media-body ml-3">
      <div class="media article-metadate">
        <a href="{% url 'phone-detail' phone.id %}"><h5>{{ phone.get_phone_display }} {{phone.phone_model}}</h5></a>
      </div>
      <h5>{{ phone.name }} (<a href="{% url 'user-phones' phone.user.username %}">{{ phone.user }}</a>)</h5>
      <p class="text-muted">{{ phone.get_metro_display }}<br>
        дата публикации: {{ phone.pub_date|date:'d-m-Y H:i'}}
      </p>
      <h6>{{ phone.valid_phone_number }}</h6>
    </div>
    <h4>{{ phone.price }} &#8381;</h4>
  </article>
{% endfor %}

{% if is_paginated %}
  <div>
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
  </div>
      
{% endif %}
{% endblock %}